<div class="page-wrapper-inner">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-header tx_yh">请假管理</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-inline">
                        <div class="form-item">
                            <label>姓名</label>
                            <input id="search_user_name" type="text" placeholder="关键字" class="form-control" />
                        </div>
                        <div class="form-item">
                            <label>起始时间</label>
                            <div class="input-append date" id="search_start_time" style="width:200px;display: inline-block;">
                                <input data-format="yyyy/MM/dd hh:mm" type="text" name="search_start_time" readonly />
                                <span class="add-on">
                                  <i data-date-icon="icon-calendar" data-time-icon="icon-time" class="icon-calendar">
                                  </i>
                                </span>
                            </div>
                        </div>
                        <div class="form-item">
                            <label>终止时间</label>
                            <div class="input-append date" id="search_end_time" style="width:200px;display: inline-block;">
                                <input data-format="yyyy/MM/dd hh:mm" type="text" name="search_end_time" readonly />
                                <span class="add-on">
                                  <i data-date-icon="icon-calendar" data-time-icon="icon-time" class="icon-calendar">
                                  </i>
                                </span>
                            </div>
                        </div>
                        <div class="form-item col-xs-4">
		                    <label class="fl">请假状态</label>
		                    <div style="width:200px;" class="combobox" id="search_action">
		                        <input type="text" style="width: 180px;" readonly="true" />
		                        <span class="caret"></span>
		                        <div class="combobox-list" style="width:250px;">
		
		                        </div>
		                    </div>
		                </div>
                        <button id="dt-sch-btn" type="button" class="btn btn-default btn-search">查找</button>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <input class="btn btn-default" id="export_absence" type="button" value="导出筛选结果" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="absence-table">
                                    <thead>
                                        <tr>
	                                        <th style="width:8%;">姓名</th>
	                                        <th>部门</th>
	                                        <th style="width:8%;">手机号码</th>
	                                        <th style="width:8%;">请假类型</th>
	                                        <th style="width:12%;">开始时间</th>
	                                        <th style="width:12%;">结束时间</th>
	                                        <th style="width:12%;">销假时间</th>
	                                        <th style="width:5%;">请假天数</th>
	                                        <th style="width:12%;">创建时间</th>
	                                        <th style="width:5%;">操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="absence-edit-win" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: none;">
        <div class="modal-dialog" style="width:500px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">修改假条</h4>
                </div>

                <form role="form" class="form-job bv-form">
                	<input type="hidden" name="absence_id" />
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label>姓名：</label>
                                    <span class="absence-user-name"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label>部门：</label>
                                    <span class="absence-team"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label>手机号：</label>
                                    <span class="absence-mobile-no"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label>请假类型<span class="brand-warning">*</span>：</label>
                                    <div style="height: 34px;float:left;display:inline-block;margin-right:10px;">
                                        <div style="width:200px;" class="combobox  form-item" id="absence_type">
                                            <input type="text" style="width: 180px;" readonly="true" />
                                            <span class="caret"></span>
                                            <div class="combobox-list" style="display: none;">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                         	<div class="col-xs-12">
                               <div class="form-group">
		                            <label>开始时间<span class="brand-warning">*</span>：</label>
		                            <div class="input-append date" id="start_time" style="width:200px;display: inline-block;">
		                                <input data-format="yyyy/MM/dd hh:mm" type="text" name="start_time" readonly />
		                                <span class="add-on">
		                                  <i data-date-icon="icon-calendar" data-time-icon="icon-time" class="icon-calendar">
		                                  </i>
		                                </span>
		                            </div>
		                       </div>
		                     </div>
                        </div>
                        <div class="row">
                         	<div class="col-xs-12">
                               <div class="form-group">
		                            <label>结束时间<span class="brand-warning">*</span>：</label>
		                            <div class="input-append date" id="pre_end_time" style="width:200px;display: inline-block;">
		                                <input data-format="yyyy/MM/dd hh:mm" type="text" name="pre_end_time" readonly />
		                                <span class="add-on">
		                                  <i data-date-icon="icon-calendar" data-time-icon="icon-time" class="icon-calendar">
		                                  </i>
		                                </span>
		                            </div>
		                       </div>
		                     </div>
                        </div>
                        <div class="row">
                         	<div class="col-xs-12">
                               <div class="form-group">
		                            <label>销假时间<span class="brand-warning">*</span>：</label>
		                            <div class="input-append date" id="fac_end_time" style="width:200px;display: inline-block;">
		                                <input data-format="yyyy/MM/dd hh:mm" type="text" name="fac_end_time" readonly />
		                                <span class="add-on">
		                                  <i data-date-icon="icon-calendar" data-time-icon="icon-time" class="icon-calendar">
		                                  </i>
		                                </span>
		                            </div>
		                       </div>
		                     </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label>请假天数<span class="brand-warning">*</span>：</label>
                                    <input type="text" name="days" class="form-control form-item" maxlength="3" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label>备注:</label>
                                    <textarea style="height:100px;width:350px;resize:none;" name="desc" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" id="btn-save-edit">保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>